@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MeetingScheduler</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css?h=073116a49e2107f6494a38dc12482daa">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css?h=1585abf9beaf49802b3a80bf813edceb">
    <link rel="stylesheet" href="~/assets/fonts/ionicons.min.css?h=1585abf9beaf49802b3a80bf813edceb">
    <link rel="stylesheet" href="~/assets/fonts/material-icons.min.css?h=1585abf9beaf49802b3a80bf813edceb">
    <link rel="stylesheet" href="~/assets/fonts/simple-line-icons.min.css?h=1585abf9beaf49802b3a80bf813edceb">
    <link rel="stylesheet" href="~/assets/css/styles.min.css?h=b39f7f42ef658bde17d6c39016c979b1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>
<body>
    <header>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid">
            <div class="collapse navbar-collapse order-2" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation">
                        <a class='nav-link @((string)ViewData["Title"]=="Calendars" ? "active" : "")' asp-area="" asp-controller="Calendar" asp-action="Calendars">Calendars</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class='nav-link @((string)ViewData["Title"]=="Meetings" ? "active" : "")' asp-area="" asp-controller="Calendar" asp-action="Meetings">Meetings</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class='nav-link @((string)ViewData["Title"]=="Calendar Accesses" ? "active" : "")' asp-area="" asp-controller="Calendar" asp-action="CalendarAccesses" >Calendar Accesses</a>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav text-nowrap d-flex flex-row order-1 order-md-2 mx-md-auto">
                <li class="nav-item" role="presentation"><a class="navbar-brand" href="#">MeetingScheduler</a></li><button data-target="#navcol-1" data-toggle="collapse" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></ul>
            <div class="order-3 ml-auto order-md-3 navbar-collapse collapse nav-content">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">
                        @Context.Session.GetString("fullname")
                    </a></li>
                    <li class="nav-item" role="presentation"><a asp-area="" asp-controller="Calendar" asp-action="Logout" class="btn btn-primary" type="button">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto h-100 text-center text-lg-left">
                    <p class="text-muted small mb-4 mb-lg-0">© Christopher Keddy Meeting Scheduler 2020. All Rights Reserved.
                        <a asp-area="" asp-controller="Home" asp-action="Privacy"> Privacy Policy</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/assets/js/jquery.min.js?h=83e266cb1712b47c265f77a8f9e18451"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js?h=63715b63ee49d5fe4844c2ecae071373"></script>
    <script src="~/assets/js/script.min.js?h=82d712d5e0811380f26d2753ca68c860"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
